.svelte-starter-card {
	background: $card-background-color;
	color: $card-text-color;
	transition: $card-transition;
	display: block;
	position: relative;
	padding: 16px;
	border-radius: 4px;
	box-shadow: $card-box-shadow;
}
