@import './variables/index.scss';
@import './_app.scss';
@import './_cards.scss';

.paragraph-text {
	color: $primary-color;

	&:hover {
		color: $hover-primary-color;
		cursor: pointer;
		font-style: italic;
	}
}

.users-list {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.user-card {
	flex: 0 1 30%;

	&:hover {
		cursor: pointer;
	}
}
